* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif, serif;
}

body {
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
}