* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif, serif;
}

body {
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#input {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

#btn {
    font-size: 34px;
}